/*fonts*/
@font-face {
  font-family: yekanBakh4;
  font-weight: 400;
  src: url("/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-04-Regular.woff") format("woff");
}
@font-face {
  font-family: yekanBakh5;
  font-weight: 500;
  src: url("/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-05-Medium.woff") format("woff");
}
@font-face {
  font-family: yekanBakh7;
  font-weight: 700;
  src: url("/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-06-Bold.woff") format("woff");
}
@font-face {
  font-family: yekanBakh8;
  font-weight: 800;
  src: url("/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-07-Heavy.woff") format("woff");
}
@font-face {
  font-family: yekanBakh9;
  font-weight: 900;
  src: url("/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-08-Fat.woff") format("woff");
}
/*var*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1258px;
  margin: 0 auto;
}

body {
  background: #F1F2F4;
  font-family: yekanBakh4;
}

/*HEADER*/
header {
  display: flex;
  margin: 0 43px;
}
header .navbar {
  position: relative;
  margin-top: -40px;
  background: #D0D4DC;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 25px;
}
header .navbar nav {
  margin-top: 43px;
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .navbar ul li {
  list-style: none;
  margin: 0 20px;
  font-size: 16px;
  font-family: "yekanBakh5";
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .navbar ul li .chevron01 img {
  transition: all 0.2s ease;
}
header .navbar ul .sub-nav-items {
  display: none;
  width: 400px;
  height: 256px;
  background: #fff;
  position: absolute;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
  right: -30px;
  top: 55px;
  border-radius: 11px;
  padding: 20px;
  gap: 10px;
  grid-template-columns: auto auto;
}
header .navbar ul .sub-nav-items .sub-nav-item {
  display: flex;
  padding: 8px;
  border-radius: 8px;
}
header .navbar ul .sub-nav-items .sub-nav-item:hover {
  background: #F1F2F4;
}
header .navbar ul .sub-nav-items .sub-nav-item .sub-nav-item-desc {
  margin: 0 5px;
}
header .navbar ul .sub-nav-items .sub-nav-item .sub-nav-item-desc h2 {
  font-size: 18px;
  font-family: yekanBakh8;
  color: #64748b;
}
header .navbar ul .sub-nav-items .sub-nav-item .sub-nav-item-desc p {
  font-size: 14px;
  font-family: yekanBakh7;
  color: #95a0b1;
}
header .navbar ul span {
  margin-right: 7px;
  margin-top: -10px;
  cursor: pointer;
  height: 10px;
}
header .navbar ul span:hover {
  color: #7A8A9F;
}
header .navbar ul a {
  text-decoration: none;
  color: #334155;
  transition: all 0.2s ease;
}
header .navbar ul a:hover {
  color: #7A8A9F;
}
header .navbar-sidebar {
  background: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 100%;
  z-index: 100;
  bottom: 0;
  padding: 40px 20px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.2s ease;
}
header .navbar-sidebar .close-navbar {
  position: relative;
  width: 25px;
}
header .navbar-sidebar .close-navbar img {
  max-width: 100%;
  position: absolute;
  top: 8px;
  object-fit: cover;
  left: -300px;
}
header .navbar-sidebar .logo img {
  max-width: 210px;
  margin-bottom: 19px;
  transition: all 0.2s ease;
}
header .navbar-sidebar .searchbox {
  background: #ECEEEF;
  width: 326px;
  height: 48px;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  padding: 15px 15px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
header .navbar-sidebar .searchbox input {
  border: none;
  background: #ECEEEF;
  position: relative;
  max-width: 581px;
  outline: none;
  padding: 0 25px;
  cursor: text;
  width: 100%;
  height: 100%;
  font-family: "yekanBakh4";
}
header .navbar-sidebar nav {
  margin-top: 43px;
}
header .navbar-sidebar nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  text-align: right;
}
header .navbar-sidebar nav ul li {
  list-style: none;
  margin: 5px 0;
  font-size: 20px;
  font-family: "yekanBakh5";
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ECEEEF;
  padding: 10px 18px;
  border-radius: 8px;
  width: 230px;
}
header .navbar-sidebar nav ul li:hover {
  background: #EBF2FE;
}
header .navbar-sidebar nav ul li span {
  margin: 0 6px;
}
header .navbar-sidebar nav ul li a {
  text-decoration: none;
  color: #334155;
}

.header {
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 44px;
  border-radius: 15px;
  margin-top: 32px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
  z-index: 2;
}
.header .menu-hamburger {
  display: none;
  margin-top: 13px;
}
.header .logo img {
  max-width: 210px;
  margin-top: 19px;
  transition: all 0.2s ease;
}
.header .searchbox {
  background: #ECEEEF;
  width: 600px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.header .searchbox input {
  border: none;
  background: #ECEEEF;
  position: relative;
  max-width: 581px;
  outline: none;
  padding: 0 25px;
  cursor: text;
  width: 100%;
  height: 100%;
  font-family: "yekanBakh4";
}
.header .searchbox input::placeholder {
  font-size: 12px;
}
.header .searchbox img {
  position: absolute;
  right: 10px;
  width: 17px;
}
.header .header-left {
  display: flex;
  align-items: center;
}
.header .header-left .registration {
  display: flex;
}
.header .header-left .light-dark {
  margin-left: 15px;
  border-radius: 50%;
  background: #eceeef;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
}
.header .header-left .light-dark:hover {
  background: #4a5a70;
}
.header .header-left .login {
  background: #EBF2FE;
  color: #3B82F6;
  margin-left: -8px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-family: yekanBakh7;
  font-size: 16px;
  height: 39px;
}
.header .header-left .login:hover {
  background: #80aef8;
  color: #fff;
}
.header .header-left .register {
  background: #3B82F6;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 8px;
  font-family: yekanBakh7;
  font-size: 16px;
  height: 39px;
}
.header .header-left .register:hover {
  background: #80aef8;
  color: #fff;
}
.header .header-left button {
  outline: none;
  border: none;
  transition: all 0.2s ease;
}
.header .header-left span {
  display: flex;
  margin-left: 5px;
}

/*intro*/
#intro {
  display: flex;
  margin: 0 43px;
}

.intro {
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.intro .intro-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.intro .intro-right h1 {
  font-size: 60px;
  color: #334155;
  font-family: "yekanBakh9";
  margin-bottom: 25px;
  width: 88%;
  transition: all 0.2s ease;
}
.intro .intro-right p {
  font-size: 24px;
  font-family: "yekanBakh5";
  color: #7A8A9F;
  line-height: 1.5;
  margin-bottom: 25px;
}
.intro .intro-right button {
  display: flex;
  align-items: center;
  width: 273px;
  height: 65px;
  justify-content: center;
  border: none;
  background: #3B82F6;
  font-size: 20px;
  font-family: "yekanBakh5";
  border-radius: 8px;
  color: #fff;
  margin-bottom: 40px;
  transition: all 0.2s ease;
}
.intro .intro-right button img {
  margin-right: 5px;
}
.intro .intro-right button:hover {
  background: rgb(55, 65, 81);
}
.intro .intro-right .intro-right-items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.intro .intro-right .intro-right-items .intro-right-item {
  display: flex;
}
.intro .intro-right .intro-right-items .intro-right-item img {
  margin-left: 15px;
}
.intro .intro-right .intro-right-items .intro-right-item h2 {
  color: #334155;
  font-size: 22px;
}
.intro .intro-right .arrow-down {
  position: relative;
  top: 50px;
  align-self: flex-end;
}
.intro .intro-left {
  width: 50%;
}
.intro .intro-left img {
  margin-top: 35px;
  max-width: 90%;
  float: left;
}

/*latest-courses*/
#latest-courses {
  display: flex;
  margin: 80px 45px;
}
#latest-courses .latest-courses {
  display: flex;
  flex-direction: column;
}
#latest-courses .latest-courses .latest-courses-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}
#latest-courses .latest-courses .latest-courses-title .latest-courses-title-bold {
  display: flex;
  align-items: center;
}
#latest-courses .latest-courses .latest-courses-title .latest-courses-title-bold h2 {
  font-size: 40px;
  color: #334155;
  margin-right: 8px;
  font-family: "yekanBakh9";
  transition: all 0.2s ease;
}
#latest-courses .latest-courses .latest-courses-title .latest-courses-title-more {
  display: flex;
  align-items: center;
}
#latest-courses .latest-courses .latest-courses-title .latest-courses-title-more a {
  font-size: 22px;
  color: #7A8A9F;
  font-family: "yekanBakh4";
  margin: 0 8px;
  text-decoration: none;
  transition: all 0.2s ease;
}
#latest-courses .latest-courses-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}
#latest-courses .latest-courses-items .latest-courses-item {
  background: #fff;
  border-radius: 8px;
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#latest-courses .latest-courses-items .latest-courses-item:hover > a > img {
  transform: translateY(-3px);
}
#latest-courses .latest-courses-items .latest-courses-item img {
  width: 100%;
  margin-top: -50px;
  border-radius: 8px;
  align-self: center;
  margin-bottom: 10px;
  overflow: hidden;
  object-fit: cover;
  transition: all 0.2s ease;
}
#latest-courses .latest-courses-items .latest-courses-item span {
  font-size: 12px;
  color: #3B82F6;
  font-family: "yekanBakh7";
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
}
#latest-courses .latest-courses-items .latest-courses-item span:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #3B82F6;
  position: absolute;
  border-radius: 100%;
  top: 6px;
  right: -8px;
}
#latest-courses .latest-courses-items .latest-courses-item h3 {
  font-size: 20px;
  font-family: "yekanBakh8";
  color: #334155;
  margin: 5px 0;
}
#latest-courses .latest-courses-items .latest-courses-item p {
  font-size: 14px;
  color: #7A8A9F;
  line-height: 24px;
  margin: 5px 0;
  font-family: "yekanBakh4";
}
#latest-courses .latest-courses-items .latest-courses-item hr {
  background: #f3f1f1;
  height: 1px;
  width: 100%;
  border: none;
  margin: 9px 0;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-access {
  display: flex;
  width: 100%;
  align-items: center;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-access img {
  width: 25px;
  margin: 0;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-access a {
  text-decoration: none;
  color: #4e5968;
  font-size: 13px;
  font-family: "yekanBakh7";
  margin: 0 5px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price {
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like {
  display: flex;
  align-items: center;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like .latest-courses-item-time {
  display: flex;
  align-items: center;
  margin: 0 8px;
  padding: 3px 6px;
  border-radius: 5px;
  background: #FBE9E9;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like .latest-courses-item-time svg {
  width: 12px;
  margin: 0 5px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like .latest-courses-item-time span {
  color: #ED5074;
  font-family: "yekanBakh7";
  position: unset;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 2px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like .latest-courses-item-like {
  display: flex;
  align-items: center;
  background: #E3E6EC;
  padding: 3px 8px;
  border-radius: 5px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like .latest-courses-item-like svg {
  width: 12px;
  margin: 0 5px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-time-like .latest-courses-item-like span {
  color: #7485A3;
  font-family: "yekanBakh7";
  position: unset;
  margin-right: 0;
  margin-bottom: 0;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-price {
  display: flex;
  align-items: center;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-price svg {
  width: 20px;
  margin: 0 6px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-time-like-price .latest-courses-item-price span {
  color: #334155;
  font-family: "yekanBakh8";
  position: unset;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 30px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  line-height: 18px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-more img {
  width: 22px;
  margin: 0 8px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-more a {
  text-decoration: none;
  color: #3B82F6;
  font-family: "yekanBakh7";
  transition: all 0.2s ease;
  font-size: 16px;
}
#latest-courses .latest-courses-items .latest-courses-item .latest-courses-item-more a:hover {
  color: #334155 !important;
}

/*# sourceMappingURL=main.css.map */
