@font-face {
    font-family: yekanBakh4;
    font-weight: 400;
    src: url('/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-04-Regular.woff') format('woff');

   
}

@font-face {
    font-family: yekanBakh5;
    font-weight: 500;
    src: url('/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-05-Medium.woff') format('woff');

   
}
@font-face {
font-family: yekanBakh7;
font-weight: 700;
src: url('/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-06-Bold.woff') format('woff');

   
}

@font-face {
    font-family: yekanBakh8;
    font-weight: 800;
    src: url('/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-07-Heavy.woff') format('woff');

   
}
@font-face {
   

font-family: yekanBakh9;
font-weight: 900;
src: url('/assets/fonts/yekan-bakh/Yekan-Bakh-FaNum-08-Fat.woff') format('woff');

   
}






