/*latest-courses*/

#latest-courses {
  display: flex;
  margin: 80px 45px;

  .latest-courses {
    display: flex;
    flex-direction: column;

    .latest-courses-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px 0;

      .latest-courses-title-bold {
        display: flex;
        align-items: center;

        h2 {
          font-size: 40px;
          color: $title;
          margin-right: 8px;
          font-family: "yekanBakh9";
          transition: $transition;
        }
      }

      .latest-courses-title-more {
        display: flex;
        align-items: center;

        a {
          font-size: 22px;
          color: $subTitle;
          font-family: "yekanBakh4";
          margin: 0 8px;
          text-decoration: none;
          transition: $transition;
        }
      }
    }
  }

  .latest-courses-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;

    .latest-courses-item {
      background: #fff;
      border-radius: 8px;
      padding: 17px;
      display: flex;
      flex-direction: column;
      align-items: start;


      &:hover > a > img {
        transform: translateY(-3px);


      }

      img {
        width: 100%;
        margin-top: -50px;
        border-radius: 8px;
        align-self: center;
        margin-bottom: 10px;
        overflow: hidden;
        object-fit: cover;
        transition: $transition;
      }

      span {
        font-size: 12px;
        color: $bluePrimary;
        font-family: "yekanBakh7";
        position: relative;
        margin-right: 10px;
        margin-bottom: 5px;

        &:before {
          content: "";
          width: 5px;
          height: 5px;
          background: $bluePrimary;
          position: absolute;
          border-radius: 100%;
          top: 6px;
          right: -8px;
        }
      }

      h3 {
        font-size: 20px;
        font-family: "yekanBakh8";
        color: $title;
        margin: 5px 0;
      }

      p {
        font-size: 14px;
        color: $subTitle;
        line-height: 24px;
        margin: 5px 0;
        font-family: "yekanBakh4";
      }

      hr {
        background: #f3f1f1;
        height: 1px;
        width: 100%;
        border: none;
        margin: 9px 0;
      }

      .latest-courses-item-access {
        display: flex;
        width: 100%;
        align-items: center;

        img {
          width: 25px;
          margin: 0;
        }

        a {
          text-decoration: none;
          color: #4e5968;
          font-size: 13px;
          font-family: "yekanBakh7";
          margin: 0 5px;
        }
      }

      .latest-courses-item-time-like-price {
        margin: 10px 0;
        display: flex;
        //background: darkcyan;
        width: 100%;
        justify-content: space-between;

        .latest-courses-item-time-like {
          display: flex;
          align-items: center;

          .latest-courses-item-time {
            display: flex;
            align-items: center;
            margin: 0 8px;
            padding: 3px 6px;
            border-radius: 5px;
            background: #FBE9E9;
            svg {
              width: 12px;
              margin: 0 5px;
            }

            span {
              color: #ED5074;
              font-family: "yekanBakh7";
              position: unset;
              margin-right: 0;
              margin-bottom: 0;
              font-size: 12px;
              margin-top: 2px;

            }
          }

          .latest-courses-item-like {
            display: flex;
            align-items: center;
            background: #E3E6EC;
            padding: 3px 8px;
            border-radius: 5px;
            svg {
              width: 12px;
              margin: 0 5px;
            }

            span {
              color: #7485A3;
              font-family: "yekanBakh7";
              position: unset;
              margin-right: 0;
              margin-bottom: 0;
            }
          }
        }

        .latest-courses-item-price {
          display: flex;
          align-items: center;

          svg {
            width: 20px;
            margin: 0 6px;
          }

          span {
            color: $title;
            font-family: "yekanBakh8";
            position: unset;
            margin-right: 0;
            margin-bottom: 0;
            font-size: 30px;
          }
        }
      }

      .latest-courses-item-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
        line-height: 18px;

        img {
          width: 22px;
          margin: 0 8px;
        }

        a {
          text-decoration: none;
          color: $bluePrimary;
          font-family: "yekanBakh7";
          transition: $transition;
          font-size: 16px;
          &:hover {
            color: $title !important;
          }
        }
      }
    }
  }
}
