@media screen and (max-width: 1280px) {
    .intro {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .intro .intro-right {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .intro .intro-right .intro-right-items {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        width: 78%;

        justify-items: center;
    }


}


@media screen and (max-width: 1270px) {
    .header .searchbox {
        width: 530px !important;
    }

    #latest-courses .latest-courses-items {
        grid-template-columns: auto auto auto;
        grid-row-gap: 66px;
        grid-template-rows: auto auto;

    }

    #latest-courses .latest-courses .latest-courses-title .latest-courses-title-bold h2 {
        font-size: 35px;
    }

    #latest-courses .latest-courses .latest-courses-title .latest-courses-title-more a {
        font-size: 19px;
    }

    #latest-courses .latest-courses-items .latest-courses-item h3 {
        height: 52px;
    }
}


@media screen and (max-width: 1200px) {
    .header .searchbox {
        width: 400px !important;
    }

    .intro .intro-right h1 {
        font-size: 45px;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .header .searchbox {
        display: none
    }

    .header .header-left .light-dark {
        display: none;
    }

    header .navbar {
        display: none;
    }

    header .menu-hamburger {
        display: block !important;
    }

    header .navbar-sidebar {
        display: block;
    }
}


@media screen and (max-width: 992px) {
    .intro .intro-right h1 {
        font-size: 35px;
        text-align: center;
    }

    .intro .intro-right p {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .header .logo img {
        max-width: 180px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .intro .intro-right h1 {
        font-size: 25px;
        text-align: center;
    }

    .intro .intro-right p {
        font-size: 16px;
        text-align: center;
    }

    #latest-courses .latest-courses-items {
        grid-template-columns: auto auto;
        grid-row-gap: 66px;
        grid-template-rows: auto auto;

    }

    .intro .intro-right .intro-right-items .intro-right-item h2 {
        font-size: 18px;
    }
}




@media screen and (max-width: 580px) {

    .intro .intro-right .intro-right-items .intro-right-item h2 {
        font-size: 13px;
    }